.ck-content {
  overflow-wrap: break-word;
}

:root {
  --ck-image-style-spacing: 1.5em;
}

.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
  max-width: 50%;
}

.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}

.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

.ck-content .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 97%);
  padding: 0.6em;
  font-size: 0.75em;
  outline-offset: -1px;
}

.ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

.ck-content .image.image_resized img {
  width: 100%;
}

.ck-content .image.image_resized > figcaption {
  display: block;
}

[dir='ltr']
  .ck.ck-button.ck-button_with-text.ck-resize-image-button
  .ck-button__icon {
  margin-right: var(--ck-spacing-standard);
}

[dir='rtl']
  .ck.ck-button.ck-button_with-text.ck-resize-image-button
  .ck-button__icon {
  margin-left: var(--ck-spacing-standard);
}

.ck.ck-dropdown .ck-button.ck-resize-image-button .ck-button__label {
  width: 4em;
}

.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 1em auto;
}
.ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}

.ck.ck-editor__editable .image > figcaption.ck-placeholder::before {
  position: static;
}

.modal-open {
  overflow: hidden;
}
